.gifting-container {
    display: flex;
    margin: 92px 0 30px 92px;
    flex-wrap: wrap;
  }
  
  .gifting-img {
    width: 280.15px;
    height: 373.26px;
    border-radius: 15px;
    /* object-fit: cover; */
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  .gifting-img:hover {
    transform: scale(1.06);
  }
  
  .gifting-price {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .gifting-price p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    width: 265px;
    /* height: 26px; */
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .gifting-price span {
    color: green;
  }
  
  .bag {
    font-size: 25px;
  }
  